.w-500 {
    width: 500px;
}

.rounded-full {
    border-radius: 1rem;
}

.form-label {
    &.required {
        &::after {
            color: $red;
            content: " *";
        }
    }
}

.invalid {
    color: $red;
    font-size: 13px;
}
