<template>
    <div class="d-flex justify-content-md-center mt-5">
        <div class="row w-500">
            <div class="col-12">
                <div class="card shadow sm mt-5">
                    <div class="card-body">
                        <h4 class="text-center pt-2 pb-2">Login Authentication</h4>
                        <hr/>
                        <form class="row">
                            <div class="form-group col-12 mb-3">
                                <label for="email" class="font-weight-bold">Email</label>
                                <input type="email" v-model="auth.email" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group col-12 mb-3">
                                <label for="password" class="font-weight-bold">Password</label>
                                <input type="password" v-model="auth.password" name="password" id="password"
                                       class="form-control" required>
                            </div>
                            <div class="col-12 mb-3">
                                <button type="submit" :disabled="processing" @click.prevent="login"
                                        class="btn btn-primary btn-block">
                                    {{ processing ? "Please wait..." : "Login" }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
    name: 'Login',
    data() {
        return {
            auth: {
                email: "",
                password: ""
            },
            processing: false
        }
    },
    methods: {
        ...mapActions({
            getAuthUser: 'getAuthUser'
        }),
        async login() {
            this.processing = true
            await axios.get('/sanctum/csrf-cookie')
            await axios.post('/api/login', this.auth).then(({data}) => {
                this.getAuthUser()
                localStorage.setItem('token', data.token)
            }).catch(({response: {data}}) => {
                alert(data.message)
            }).finally(() => {
                this.processing = false
            })
        }
    }
}
</script>

<style scoped>

</style>
