<template xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card shadow ms-2 me-2">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h4>Add Record</h4>
                            <router-link :to="{name: 'record'}" class="btn btn-dark float-end">Back</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label required">Name</label>
                                <input type="text" class="form-control" v-model="form.name" placeholder="Name">
                                <span class="invalid" v-if="errors.name">{{ errors.name }}</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label required">Description</label>
                                <textarea class="form-control" v-model="form.description"
                                          placeholder="Description"></textarea>
                                <span class="invalid" v-if="errors.description">{{ errors.description }}</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label required">Code</label>
                                <input type="text" class="form-control" v-model="form.code" placeholder="Code">
                                <span class="invalid" v-if="errors.code">{{ errors.code }}</span>
                            </div>
                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" v-model="form.status" id="status">
                                    <label class="form-check-label" for="status">Is Active</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary" :disabled="processing" @click.prevent="save">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                          v-if="processing"></span>
                                    {{ processing ? 'Please wait...' : 'Save' }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AddRecord',
    data() {
        return {
            processing: false,
            errors: {
                name: '',
                description: '',
                code: ''
            },
            form: {
                name: '',
                description: '',
                code: '',
                status: false
            }
        }
    },
    watch: {
        'form.name'(val) {
            if (val) {
                this.errors.name = ''
            }
        },
        'form.description'(val) {
            if (val) {
                this.errors.description = ''
            }
        },
        'form.code'(val) {
            if (val) {
                this.errors.code = ''
            }
        }
    },
    methods: {
        save() {
            this.processing = true
            axios.post('/api/records', this.form)
                .then(response => {
                    this.$toastr.success(response.data.message)
                    this.$router.back()
                })
                .catch(({response}) => {
                    this.$toastr.error(response.data.message)
                    const {name, code, description} = response.data.errors
                    this.errors = {
                        ...this.errors,
                        name: name ? name[0] : '',
                        code: code ? code[0] : '',
                        description: description ? description[0] : ''
                    }
                    this.processing = false
                })
        }
    }
}
</script>
