<template>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card shadow ms-2 me-2">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h4>Edit Record</h4>
                            <router-link :to="{name: 'record'}" class="btn btn-dark float-end">Back</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label required">Name</label>
                                <input type="text" class="form-control" v-model="form.name" placeholder="Name">
                                <span class="invalid" v-if="errors.name">{{ errors.name }}</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label required">Description</label>
                                <textarea class="form-control" v-model="form.description"
                                          placeholder="Description" required></textarea>
                                <span class="invalid" v-if="errors.description">{{ errors.description }}</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label required">Code</label>
                                <input type="text" class="form-control" v-model="form.code" placeholder="Code">
                                <span class="invalid" v-if="errors.code">{{ errors.code }}</span>
                            </div>
                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="status" v-model="form.status"
                                           :checked="form.status">
                                    <label class="form-check-label" for="status">Is Active</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary" @click.prevent="update" :disabled="processing">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                          v-if="processing"></span>
                                    {{ processing ? 'Please wait...' : 'Update' }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'EditRecord',
    data() {
        return {
            processing: false,
            errors: {
                name: null,
                description: null,
                code: null
            },
            form: {
                name: '',
                description: '',
                code: '',
                status: ''
            }
        }
    },
    watch: {
        'form.name'(val) {
            if (val) {
                this.errors.name = ''
            }
        },
        'form.description'(val) {
            if (val) {
                this.errors.description = ''
            }
        },
        'form.code'(val) {
            if (val) {
                this.errors.code = ''
            }
        }
    },
    created() {
        axios.get(`/api/records/${this.$route.params.uuid}`)
            .then(({data}) => {
                const {name, description, code, status} = data.data
                this.form = {name, description, code, status}
            })
    },
    methods: {
        update() {
            this.processing = true
            axios.put(`/api/records/${this.$route.params.uuid}`, this.form)
                .then(response => {
                    this.$toastr.info(response.data.message)
                    this.$router.back()
                })
                .catch(({response}) => {
                    this.$toastr.error(response.data.message)
                    const {name, code, description} = response.data.errors
                    this.errors = {
                        ...this.errors,
                        name: name ? name[0] : '',
                        code: code ? code[0] : '',
                        description: description ? description[0] : ''
                    }
                    this.processing = false
                })
        }
    }
}
</script>
