<template>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card shadow ms-2 me-2">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h4 class="">Records</h4>
                            <router-link :to="{name: 'add-record'}" class="btn btn-primary float-end">New Record</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-2">
                                <select class="form-select" v-model="status" aria-label="Select Status">
                                    <option value="all" selected>All</option>
                                    <option v-for="(option, key) in options" :key="key" :value="option.name">
                                        {{ option.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th style="width: 600px">Description</th>
                                <th>Code</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="record in records" :key="record.uuid">
                                <td>{{ record.id }}</td>
                                <td>{{ record.name }}</td>
                                <td>{{ record.description }}</td>
                                <td>{{ record.code }}</td>
                                <td>
                                    <span class="badge bg-success rounded-full" v-if="record.status">Active</span>
                                    <span class="badge bg-warning rounded-full" v-else>Inactive</span>
                                </td>
                                <td>
                                    <router-link :to="{name: 'edit-record', params: { uuid: record.uuid }}"
                                                 class="btn btn-primary me-2">
                                        Edit
                                    </router-link>
                                    <button class="btn btn-success me-2" v-if="!record.status" @click="activate(record)">
                                        Activate
                                    </button>
                                    <button class="btn btn-danger" @click="deleteRecord(record)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'Home',
    data() {
        return {
            status: 'all',
            modal: null,
            options: [
                {name: 'active', label: 'Active'},
                {name: 'inactive', label: 'Inactive'},
            ]
        }
    },
    computed: {
        ...mapGetters([
            'records'
        ])
    },
    watch: {
        'status'(val) {
            this.$store.dispatch('getRecords', val)
        }
    },
    created() {
        this.$store.dispatch('getRecords', this.status)
    },
    methods: {
        deleteRecord(record) {
            this.$swal.fire({
                title: 'Are you sure to delete this record?',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                confirmButtonColor: '#dc3545'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.delete(`/api/records/${record.id}`)
                        .then(response => {
                            const index = window._.findIndex(this.records, {id: record.id})
                            this.records.splice(index, 1)
                            this.$store.commit('setRecords', this.records)
                            this.$swal.fire(response.data.message, '', 'success')
                        })
                        .catch(({response}) => {
                            this.$toastr.error(response.data.message)
                        })
                }
            })
        },
        activate(record) {
            axios.put(`/api/records/activate/${record.id}`)
                .then(response => {
                    const index = window._.findIndex(this.records, {id: record.id})
                    record.status = true
                    this.records.splice(index, 1, record)
                    this.$store.commit('setRecords', this.records)
                    this.$swal.fire(response.data.message, '', 'info')
                })
                .catch(({response}) => {
                    this.$toastr.error(response.data.message)
                })
        }
    }
}
</script>

<style scoped>

</style>
